body{
  margin: 0;
}

.App {
  background-color: #fefefe;
  height: 100%;
  width: 100%;
}

/* Mengatur gaya untuk halaman utama */
.homepage {
  text-align: center;
  padding: 0;
}

/* Gaya untuk header yang berisi carousel */
.header-box {
  background-color: #f8f9fa; /* Warna latar belakang header */
  padding: 0; /* Menghapus padding untuk header */
}

/* Gaya untuk carousel dan gambar di dalamnya */
.carousel-item img {
  width: 100%; /* Membuat gambar memenuhi lebar kontainer carousel */
  height: 610px; /* Memastikan aspek rasio gambar tetap terjaga */
  object-fit: cover; /* Memastikan gambar terpotong dengan baik dalam ukuran yang diinginkan */
}

/* Responsive: Mengatur tampilan untuk layar kecil */
@media (max-width: 768px) {
  .carousel-item img {
      width: 100%; /* Gambar tetap memenuhi lebar kontainer pada layar kecil */
      height: auto; /* Memastikan gambar tidak terdistorsi */
  }
}

/* Mengatur gaya untuk halaman contractor */
.contractor-page {
    position: relative; /* Membuat posisi relatif untuk kontainer utama */
    text-align: center;
    padding: 40px;
    opacity: 100%;
    color: #fff; /* Warna teks menjadi putih agar kontras dengan gambar latar belakang */
}

/* Mengatur gaya untuk halaman contractor */
.contractor-page{
  text-align: center;
  padding: 40px;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Warna latar belakang default */
  background-image: url('/public/img/Dummy/Dummy2opacity.png'); /* Gambar latar belakang */
  background-size: cover; /* Menyesuaikan ukuran gambar latar belakang */
  background-position: center; /* Menyelaraskan gambar latar belakang di tengah */
  background-repeat: no-repeat; /* Mencegah gambar latar belakang dari pengulangan */
  color: #fff; /* Warna teks menjadi putih agar kontras dengan gambar latar belakang */
}

/* Gaya untuk judul */
.contractor-page h1 {
  font-size: 2rem; /* Ukuran font untuk judul */
  color: black; /* Warna teks judul */
  margin-bottom: 50px; /* Jarak antara judul dan gambar */
  font-weight: bold; /* Menebalkan teks judul */
  opacity: 100%;
}

/* Gaya untuk gambar */
.contractor-page img {
  max-width: 20%; /* Membuat gambar responsif */
  height: auto; /* Memastikan aspek rasio gambar tetap terjaga */
  border-radius: 8px; /* Membuat sudut gambar melengkung */
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Responsive Design: Mengatur tampilan pada layar kecil */
@media (max-width: 768px) {
  .contractor-page h1 {
      font-size: 1.3rem; 
      margin-bottom: 15px;
  }

  .contractor-page img {
    max-width: 20%; /* Membuat gambar responsif */
    height: auto; /* Memastikan aspek rasio gambar tetap terjaga */
    border-radius: 8px; /* Membuat sudut gambar melengkung */
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
